.tile{
    height:25px; 
    width:25px;
    margin: 2px;
    padding: 0;
    border: 0;
}


.ad-mobile-banner{
    width: 320px;
    height: 50px;
}

.ad-full-banner{
    width: 468px;
    height: 60px;
}

.ad-leaderboard{
    width: 728px;
    height: 90px;
}

.ad-skyscrapper{
    width: 160px;
    height: 600px;
}

.ad-mobile-banner, .ad-full-banner, .ad-leaderboard, .ad-skyscrapper{
    background: #ffffff;
    color: #000;
    margin: 1rem;
}

.ad-mobile-banner, .ad-full-banner, .ad-leaderboard{
    margin-left: auto;
    margin-right: auto;
}

.play-again-slot {
    min-height: 38px;
}

.code {
    font-family: 'Consolas';
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

pre {
    overflow-y: hidden;
}